@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

<style>


body {
    margin: 0; 
    padding: 0; 
    background-color: rgb(46,46,46);
    color: rgb(white ); 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-family: 'Anton', sans-serif; 


}

</style>
